.logo {
	display: flex;
	align-items: center;
	&__link {
		width: 34px;
		height: 34px;
	}
}

.text {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0em;

	text-transform: uppercase;

	&_marg {
		margin-left: .5rem;
	}
}
