@import '../../../styles/variables.scss';

@keyframes bounce {
	0% {
		transform: translateY(0);
	} 50% {
		transform: translateY(-100%);
	} 100% {
		transform: translateY(0);
	}
}

.text {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2em;
	letter-spacing: 0em;

	&_marg {
		margin: .5rem 0;
	}
}

.bounce {
	
	width: 8px;
	height: 8px;

	background: $decor-color;

	border-radius: 50%;
	
	margin: 0 .2rem;

	transition: transform .2s ease;

	animation: .5s linear 0s infinite bounce;
	
	&:nth-child(2) {
		animation: .5s linear .3s infinite bounce;
	}

}