@import '../../../styles/variables.scss';

.input {
	cursor: pointer;

	&:hover {
		.input__radio {
			border-color: $decor-color;
		}
	}

	&:active {
		.input__radio {
			border-color: $pressed-color;
		}
	}

	&__input {
		display: none;

		&:checked + .input__radio {
			border-color: $decor-color;

			.input__svg {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__radio {
		width: 18px;
		height: 18px;

		border-radius: 50%;
		border: 1px solid #d3d3d3;
		background: #ffffff;

		transition: border .2s ease;
	}

	&__svg {
		fill: transparent;
		visibility: hidden;
		opacity: 0;

		transition: visibility 0.2s ease, opacity 0.2s ease;
	}
}
