@import '../../styles/variables.scss';

.form {
	width: 100%;

	margin: 0 auto;
	
	border-radius: 6px;

	box-shadow: $form-box-shadow;


	// ======= Elements ======
	&__wrap {
		background-color: $dark-theme-color;

		padding: 1.5rem;

		display: flex;
		flex-direction: column;
	}

	&__row {
		display: inline-flex;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width: $xl) {
			flex-wrap: wrap;
		}
		
		@media (max-width: $extra-small) {
			width: 100%;
			flex-direction: column;
			align-self: center;
		}

		&:not(:last-child) {
			margin-bottom: 25px;
		}
		// ======= Modifiers ======
		&_neg-marg {
			margin: 0 -5px;
		}

		&_width-402 {
			width: 100%;
			max-width: 420px;
		}

		&_labels {
			gap: 1rem;
			align-items: flex-start;
		}
	}
}

.stock {
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: 0em;
	text-align: left;

	color: $decor-color;
}

.placeholder {
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: 0em;

	color: $secondary-text-color;
}
