@import '../../../styles/variables.scss';

.form {
	width: 100%;
	max-width: 387px;
	
	position: absolute;
	top: 15%;
	left: 5%;
	z-index: 1000;

	@media (max-width: $small) {
		max-width: unset;
		position: unset;
		box-shadow: $form-box-shadow;
	}

	&_marg {
		@media (max-width: $small) {
			margin-bottom: 2rem;
		}
	}
}