@import '../../../styles/variables.scss';

.contact {
	display: flex;
	align-items: center;

	@media (max-width: $extra-small) {
		flex-direction: column;
		align-items: flex-start;
	}

	&__line {
		display: flex;
		align-items: center;
	}
}

.svg {
	width: 20px;
	height: 20px;
	fill: #C7CAD1;

	margin-right: 5px;
}

.text, .number, .title {
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.9em;
	letter-spacing: 0em;
	
	color: $secondary-text-color;
}

.title {
					
	&::before {
		content: "-";
		
		margin: 0 4px;

		@media (max-width: $extra-small) {
			display: none;
		}
	}
}

.number {
	color: $decor-color;

	&:hover {
		text-decoration: underline;
	}
}

.text {

	transition: color .2s ease ;

	&:hover {
		color: $decor-color;
		text-decoration: underline;
	}
}


