@import '../../styles/variables.scss';

.section {
	margin-top: 1rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	@media (max-width: $small) {
		justify-content: space-around;
	}

	&_marg {
		margin: 3.1rem 0;
	}
}