@import '../../../styles/variables.scss';

.modal {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 50000;

	cursor: pointer;

	background: rgba(0, 0, 0, 0.5);
}

.wrapper {
	width: 90%;
	max-width: 1325px;
	min-height: 70%;

	padding: 1rem;

	background: #fff;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: initial;

	@media (max-width: $extra-small) {
		min-height: 50%;
	}

}

.inner {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.video {
	width: 90%;
	height: 85%;
}