@import '../../../styles/variables.scss';

.status {
	display: flex;
	justify-content: flex-end;

	&__text {
		font-size: 0.8rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2em;
		letter-spacing: 0em;
		padding: 4px 10px;
		border-radius: 35px;

		color: $dark-theme-color;

		&_in-stock {
			background: $in-stock;
		}
		&_under-order {
			background: $under-order;
		}
	}
}
