$main-font: "Montserrat", sans-serif;
// ======= Bg colors ======
$main-bg-color: #ffffff;
$secondary-bg-color: #F4F4F4;
$secondary-bg-color-hover: #9b9b9b;

$decor-color: #CD0000;
$decor-color-opacity: rgba(208, 143, 143, .61);

$pressed-color: #d08f8f;

$border-card-of-car: #E2E2E2;
// ======= Text colors ======
$light-theme-color: #000000;
$dark-theme-color: #ffffff;
$secondary-text-color: #8B8B8B;

$under-line-color: #BABABA;

$in-stock: #73DB43;
$under-order: #EBB428;

$whats-up: #48C95F;
$inst-gradient: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
$youtube: #F40000;

$toggle-btn: #1F1F1F;

$form-box-shadow: 0px 9px 34px rgba(#49515b, 24%);

// ======= Sizes ======
$home-min-height: 316px;

$xl: 1140px;
$lg: 960px;

$md: 768px;
$small: 670px;
$extra-small: 440px;