@import '../../../styles/variables.scss';

.ellipsis {
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 6px;
}

.dot {
	width: 3px;
	height: 3px;

	border-radius: 50%;
	background: $secondary-text-color;

}