@import '../../../styles/variables.scss';

.btn {
	border-radius: 4px;
	padding: 0.3rem 1rem;
	background: $decor-color;
	border: 1px solid $decor-color;
	color: $dark-theme-color;
	transition: background 0.2s ease;

	&:hover {
		background: transparent;
		color: $light-theme-color;
	}

	// ======= Modifiers ======
	&_outline {
		background: transparent;
		border: 1px solid $secondary-bg-color;
		color: $decor-color;
		&:hover {
			background: $decor-color;
			color: $dark-theme-color;
		}
	}

	// ======= Elements ======
	&__title {
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.4em;
		letter-spacing: 0em;
		transition: color 0.2s ease;
	}
}
