@import '../../styles/variables.scss';

.info {
	display: flex;
	align-items: center;
	gap: 1rem;

	border-bottom: 1px solid $secondary-bg-color;

	@media (max-width: $md) {
		justify-content: space-around;
	}

	// ======= Modifiers ======
	&_marg {
		margin-bottom: 1.5rem;
	}
	// ======= Elements ======
	&__btn {
		color: inherit;
		padding: 12px 4px;
		background: transparent;
		color: $secondary-text-color;
		border-bottom: 1px solid $secondary-bg-color;

		white-space: nowrap;

		transition: color 0.2s ease, border-color 0.2s ease;

		&_active {
			color: $decor-color;
			border-bottom: 1px solid $decor-color;
		}

		@media ( hover ) {
			&:hover {
				color: $light-theme-color;
				border-bottom: 1px solid $under-line-color;
			}
		}
	}

	&__slide {
		margin-right: 1.5rem;
	}

}
