@import '../../styles/variables.scss';

.section {

	&_marg {
		margin-top: 4.4rem;
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	@media (max-width: $small) {
		justify-content: space-around;
	}

	&_marg {
		margin-top: 1.75rem;
	}
}

.card {
	width: 100%;
	max-width: 205px;
}