@import '../../styles/variables.scss';

.nav {

	@media (max-width: $md) {
		width: 100%;
	}
	// ======= Elements ======
	&__list {
		@media (max-width: $md) {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__item {
		margin-top: 0.5rem;

		padding: 8px 0 8px 1.5rem;

		position: relative;

		&::before {
			content: '';

			width: 2px;
			// .5rem is padding from class 'link'
			height: 2.25rem + .5rem;

			background: $decor-color;

			position: absolute;
			left: 1px;
			top: 0;

			opacity: 0;
			transform: scale(0);
			transition: opacity 0.2s ease, transform 0.2s ease;
		}

		&_active {
			&::before {
				opacity: 1;
				transform: scale(1);
			}

			.link {
				color: $secondary-text-color;
			}
		}
}

	&__dropdown {
		padding-right: 1.5rem;
	}
}

.link {
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25em;
	letter-spacing: 0em;

	position: relative;
	
	padding: .5rem 0;
	
	transition: color 0.2s ease;

	&::before {
		content: '';
		width: 100%;
		height: 2px;

		background: $decor-color;

		position: absolute;
		bottom: 0;
		left: 0;

		transform: scale(0);
		transition: transform 0.2s ease;
	}

	&:hover {
		color: $decor-color;
		&::before {
			transform: scale(1);
		}
	}
}

.sub-link {
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4em;
	letter-spacing: 0em;

	transition: color 0.2s ease-in-out;

	&_active {
		color: $decor-color;
	}

	&:hover {
		color: $decor-color;
	}
}